@model KorsatkoApp.Models.Enrolment

@{
    ViewData["Title"] = "Create";
}


@section Styles {
    <link rel="stylesheet" href="~/areas/adimin/plugins/select2/css/select2.min.css">
    <link rel="stylesheet" href="~/areas/adimin/plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css">
    <link rel="stylesheet" href="~/areas/adimin/plugins/jquery-ui/jquery-ui.min.css">
}


@section Scripts {
    <script src="~/areas/adimin/plugins/select2/js/select2.full.min.js"></script>
    <script src="~/areas/adimin/plugins/select2/js/i18n/ar.js"></script>

    <script>
        $("document").ready(() => {
            $("#@nameof(Model.StudentId), #@nameof(Model.SessionId)").select2({
                dir: "rtl",
                width: "100%",
                theme: "bootstrap4",
                containerCssClass: "arabic",
                dropdownCssClass: "arabic",
            });
        });
    </script>
}

<section class="container content-header mb-2">
    <div class="px-3 px-sm-2 px-lg-3">
        <div class="row mt-3 mb-1">
            <h1 class="arabic">التسجيل في كورس</h1>
        </div>

        <div class="row">
            <ol class="breadcrumb arabic sm">
                <li class="breadcrumb-item">
                    <a href="#">الصفحة الرئيسية</a>
                </li>
                <li class="breadcrumb-item">
                    <a href="#">الطلاب</a>
                </li>
                <li class="breadcrumb-item">
                    التسجيل في كورس
                </li>
            </ol>
        </div>
    </div>
</section>


<section class="content pb-5">
    <div class="container">
        <form method="post" action="#" class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-12 col-md-6 form-group">
                        <label asp-for="StudentId">
                            <span class="arabic">الطالب</span>
                        </label>

                        <select asp-for="StudentId" asp-items="ViewBag.Students" class="form-control arabic">
                        </select>
                    </div>

                </div>

                <div class="row">
                    <div class="col-12 form-group">
                        <label for="session">
                            <span class="arabic">المعاد</span>
                        </label>

                        <select asp-for="SessionId" asp-items="ViewBag.Sessions" size="3" class="form-control arabic">
                        </select>
                    </div>
                </div>
            </div>

            <div class="card-footer">
                <div class="">
                    <input type="submit" value="إضافة" class="btn btn-primary px-3 arabic">
                    <a href="#" class="btn btn-outline-danger px-3 arabic">إلغاء</a>
                </div>
            </div>
        </form>

    </div>
</section>