@using Microsoft.AspNetCore.Identity

@inject SignInManager<Student> SignInManager
@inject UserManager<Student> UserManager


<!doctype html>
<html lang="ar" dir="rtl">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cairo&family=Noto+Kufi+Arabic:wght@100;200;300;400;500;600;700;800;900&display=swap"
          rel="stylesheet">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/website/css/bootstrap.rtl.min.css">
    <!-- FontAwesome -->
    <link rel="stylesheet" href="~/website/plugins/fontawesome6/css/fontawesome.min.css">
    <link rel="stylesheet" href="~/website/plugins/fontawesome6/css/regular.min.css">
    <link rel="stylesheet" href="~/website/plugins/fontawesome6/css/solid.min.css">

    @await RenderSectionAsync("Styles", required: false)

    <!-- Website CSS -->
    <link rel="stylesheet" href="~/website/css/style.css">

    <title>@(ViewData["Title"] == null ? "كورساتكو" : (ViewData["title"] + " - كورساتكو"))</title>
</head>

<body>
    @await Html.PartialAsync("_NavbarPartial")
    
    @RenderBody()

    @await Html.PartialAsync("_FooterPartial")

    <script src="~/website/js/bootstrap.bundle.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
    @await Component.InvokeAsync("NToastNotify")
</body>

</html>