@model KorsatkoApp.Models.Course

@{
	ViewData["Title"] = "Create";
}


@section Styles {
    <link href="~/areas/admin/plugins/summernote/summernote-bs4.min.css" rel="stylesheet">
}

@section Scripts {
	<script src="~/areas/admin/plugins/summernote/summernote-bs4.min.js"></script>
	<script src="~/areas/admin/plugins/summernote/lang/summernote-ar-AR.min.js"></script>

	<script>
		$(document).ready(function () {
			$('#@Html.NameFor(m => m.Description)').summernote({
				lang: "ar-AR",
				height: 100,
				toolbar: [
					['style', ['bold', 'italic', 'underline']],
					['fontsize', ['fontsize']],
					['para', ['ul', 'ol', 'paragraph']],
					['height', ['height']]
				],
			});
		});
	</script>
}


<section class="container content-header mb-2">
    <div class="px-3 px-sm-2 px-lg-3">
        <div class="row mt-3 mb-1">
            <h1 class="arabic">إضافة كورس</h1>
        </div>

        <div class="row">
            <ol class="breadcrumb arabic sm">
                <li class="breadcrumb-item">
                    <a href="#">الصفحة الرئيسية</a>
                </li>
                <li class="breadcrumb-item">
                    <a href="#">الكورسات</a>
                </li>
                <li class="breadcrumb-item">
                    كورس جديد
                </li>
            </ol>
        </div>
    </div>
</section>


<section class="content pb-5">
    <div class="container">
        <form method="post" class="card" asp-action="Create">
            <div class="card-body">
                <div class="row">
                    <div class="col-12 form-group">
                        <label asp-for="Name">
                            <span class="arabic">اسم الكورس</span>
                        </label>

                        <input asp-for="Name" type="text" class="form-control arabic" placeholder="مبادئ تطوير حلول الويب">
						
						<div class="form-text text-danger">
							<span asp-validation-for="Name"></span>
						</div>
                    </div>

                    <div class="col-12 form-group">
                        <label asp-for="Description">
                            <span class="arabic">محتوى الكورس</span>
                        </label>

                        <textarea asp-for="Description" class="form-control arabic"></textarea>
						
						<div class="form-text text-danger">
							<span asp-validation-for="Description"></span>
						</div>
                    </div>

					<div class="col-12 form-group">
						<label asp-for="Prerequisites">
							<span class="arabic">متطلبات الكورس</span>
						</label>

						<input type="text" asp-for="Prerequisites" class="form-control arabic" placeholder="معرفة أساسية بلغة Python">

						<div class="form-text text-danger">
							<span asp-validation-for="Prerequisites"></span>
						</div>
					</div>

                    <div class="col-12 col-md-6 form-group">
                        <label asp-for="Picture">
                            <span class="arabic">صورة مصغرة للكورس</span>
                        </label>

						<input asp-for="Picture" type="text" class="form-control arabic" placeholder="اسم ملف الصورة">

						<div class="form-text text-danger">
							<span asp-validation-for="Picture"></span>
						</div>
                    </div>

                    <div class="col-12 col-md-6 form-group">
                        <label asp-for="Price">
                            <span class="arabic">سعر الكورس</span>
                        </label>

                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    EGP
                                </span>
                            </div>

                            <input asp-for="Price" type="number" class="form-control arabic" placeholder="1000">
                        </div>

						<div class="form-text text-danger">
							<span asp-validation-for="Price"></span>
						</div>
                    </div>
                </div>

                <div class="my-3" asp-validation-summary="ModelOnly"></div>
            </div>

            <div class="card-footer">
                <div class="">
                    <input type="submit" value="إضافة" class="btn btn-primary px-3 arabic">
                    <a asp-action="Index" class="btn btn-outline-danger px-3 arabic">إلغاء</a>
                </div>
            </div>
        </form>
    </div>
</section>
