@model KorsatkoApp.Models.Course

@{
	ViewData["Title"] = "Create";
}

<section class="container content-header mb-2">
	<div class="px-3 px-sm-2 px-lg-3">
		<div class="row mt-3 mb-1">
			<h1 class="arabic">إضافة كورس</h1>
		</div>

		<div class="row">
			<ol class="breadcrumb arabic sm">
				<li class="breadcrumb-item">
					<a asp-area="Admin" asp-controller="home" asp-action="Index">الصفحة الرئيسية</a>
				</li>
				<li class="breadcrumb-item">
					<a asp-area="Admin" asp-controller="courses" asp-action="Index">الكورسات</a>
				</li>
				<li class="breadcrumb-item">
					كورس جديد
				</li>
			</ol>
		</div>
	</div>

</section>

<section class="content pb-5">
	<div class="container">
		<form asp-action="Create" class="card" method="post">
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<div class="card-body">
				<div class="row">
					<div class="col-12 form-group">
						<label asp-for="Name">
							<span class="arabic">اسم الكورس</span>
						</label>
							<span asp-validation-for="Name" class="text-danger"></span>
						<input asp-for="Name" type="text" id="courseName" class="form-control arabic">
					</div>

					<div class="col-12 form-group">
						<label asp-for="Description">
							<span class="arabic">محتوى الكورس</span>
						</label>
						<span asp-validation-for="Description" class="text-danger"></span>

						<textarea asp-for="Description" id="courseContent" class="form-control arabic"></textarea>
					</div>

					<div class="col-12 form-group">
						<label asp-for="Prerequisites">
							<span class="arabic">متطلبات الكورس</span>
						</label>
						<span asp-validation-for="Prerequisites" class="text-danger"></span>
						<input asp-for="Prerequisites" type="text" id="courseName" class="form-control arabic">
					</div>

					<div class="col-12 col-md-6 form-group">
						<label asp-for="Picture">
							<span class="arabic">الصورة المصغرة للكورس</span>
						</label>
						<span asp-validation-for="Picture" class="text-danger"></span>

						<div class="input-group">
							<input asp-for="Picture" type="text" id="coursePicture"
								   class="form-control arabic">


						</div>
					</div>

					<div class="col-12 col-md-6 form-group">
						<label asp-for="Price">
							<span class="arabic">سعر الكورس</span>
						</label>
						<span asp-validation-for="Price" class="text-danger"></span>

						<div class="input-group">
							<div class="input-group-prepend">
								<span class="input-group-text">
									EGP
								</span>
							</div>

							<input asp-for="Price" type="number" id="coursePrice"
								   class="form-control arabic" placeholder="1000">
						</div>
					</div>
				</div>
			</div>

			<div class="card-footer">
				<div class="">
					<input type="submit" value="إضافة" class="btn btn-primary px-3 arabic">
					<a asp-action="Index" class="btn btn-outline-danger px-3 arabic">إلغاء</a>
				</div>
			</div>
		</form>

	</div>
</section>

@section Scripts {
	<!-- jQuery -->
	<script src="~/plugins/jquery/jquery.min.js"></script>
	<!-- Bootstrap 4 -->
	<script src="~/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
	<!-- overlayScrollbars -->
	<script src="~/plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js"></script>
	<!-- AdminLTE App -->
	<script src="~/plugins/adminlte/js/adminlte.min.js"></script>
	<!-- SummerNote -->
	<script src="~/plugins/summernote/summernote-bs4.min.js"></script>
	<script src="~/plugins/summernote/lang/summernote-ar-AR.min.js"></script>

	<script>
		$(document).ready(function () {
			$('#courseContent').summernote({
				lang: "ar-AR",
				height: 100,
				toolbar: [
					['style', ['bold', 'italic', 'underline']],
					['fontsize', ['fontsize']],
					['para', ['ul', 'ol', 'paragraph']],
					['height', ['height']]
				],
			});
		});
	</script>
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}
}
