@model KorsatkoApp.Areas.Admin.ViewModels.EnrollmentEditViewModel

@{
    Layout = "_HeaderAdminLayout";
}

<form method="post" asp-action="Edit" class="card">
    <div class="card-body">
        <div class="row">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="col-12 col-md-6 form-group">
                <label asp-for="PaymentStatus" class="control-label arabic"></label>
                <input asp-for="PaymentStatus" class="form-control arabic" />
                <span asp-validation-for="PaymentStatus" class="text-danger"></span>
            </div>

        </div>
    </div>

    <div class="card-footer">
        <div class="">
            <input type="submit" value="تعديل" class="btn btn-primary px-3 arabic">
            <a asp-action="Index" class="btn btn-outline-danger px-3 arabic">إلغاء</a>
        </div>
    </div>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
