@{
    ViewData["Title"] = "Dashboard";
}

<section class="content-header mb-2 mx-2">
    <div class="container-fluid">
        <div class="row mb-2">
            <h1 class="arabic">لوحة التحكم</h1>
        </div>

        <div class="row">
            <ol class="breadcrumb arabic sm">
                <li class="breadcrumb-item">
                    <a href="#">الصفحة الرئيسية</a>
                </li>
                <li class="breadcrumb-item">لوحة التحكم</li>
            </ol>
        </div>

        <div class="row">
            <img src="https://databear.com/wp-content/uploads/2016/04/Xero-Financial-Dashboard.png" width="100%" />
        </div>
    </div>
</section>

